# Add any directories, files, or patterns you don't want to be tracked by version control
/vendor/
/Vagrantfile
/.vagrant/
/package-lock.json
/composer.lock
/.beetbox/
/.idea/
/node_modules/
/docroot/sites/default/files/
/docroot/sites/default/settings.beetbox.php
/docroot/sites/default/default.settings.php
.env
