# Add any directories, files, or patterns you don't want to be tracked by version control
/Vagrantfile
/.vagrant/
/.beetbox/
/.idea/
/node_modules/
/docroot/sites/default/files/
/docroot/sites/default/settings.beetbox.php
/docroot/sites/default/default.settings.php
.envs
.lando/*
